<div class="logo"><img src="logo.png" alt="PayLess Logo"> <p>PayLess</p></div>
<div class="navi-buttons">
    <ul class="navi-list">
        <li class="navi-list-holder">
            <a routerLink="/">
            <div class="icon-holder">
                <img src="home-alt-svgrepo-com.png" alt="Home">
            </div>
            </a>
        </li>
        <li class="navi-list-holder">
            <a routerLink="/search">
                <div class="icon-holder">
                    <img src="magnifier-glass-svgrepo-com.png" alt="Search">
                </div>
            </a>
        </li>
        <li class="navi-list-holder">
            <a (click)="openAddModal()">
                <div class="icon-holder">
                    <img src="add-to-queue-svgrepo-com.png" alt="Add">
                </div>
            </a>
        </li>
    </ul>
</div>
